<% layout('layouts/boilerplate') %> 

<body>

  <style> 
  html {
    overflow-y: scroll;
}</style>
    <h1>About Us</h1>
    <div class="col-md-8 my-5">
      <h5>Our hemp products are all made in our state of the art facility in the beautiful Nova Scotia, Canada. <br>
        <br>
        We draw on our Province's rich agricultural resources, and consult with local legends who have been in the hemp industry since it was first re-opened in 1998. </h5>
    </div>
    <div class="container mt-3 text-center">
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/150417073249-12-dsc-9294-1-live-video.jpg" class="rounded mx-auto">
    </div>

    
</body>