<% layout('layouts/boilerplate') %> 

<body>
    <h1>About Us</h1>
    <div class="col-md-8 my-5">
      <h5>Our hemp products are all made in our state of the art facility in the beautiful Nova Scotia, Canada. <br>
        <br>
        We draw on our Province's rich agricultural resources, and consult with local legends who have been in the hemp industry since it was first re-opened in 1998. </h5>
    </div>
    <div class="container mt-3 text-center">
        <!-- <img src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1629384641/HFW/TCH_BS_080820_Hemp1_qswde3.jpg" class="rounded mx-auto"> -->
    </div>

    
</body>