<% layout('layouts/boilerplate') %> 

<body>
    <h1>About Us</h1>
    <div class="col-md-8">
      <h7>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem voluptatem perferendis error quidem cum? Ipsam vero voluptatum quis mollitia eaque maxime repudiandae quam distinctio, corrupti ducimus et ratione porro iusto? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor cupiditate veritatis, nobis voluptatibus corporis ipsam reprehenderit eligendi ad, ipsa dolore accusantium porro consequatur officiis voluptas perspiciatis libero vitae rem veniam!</h5>
    </div>
    <div class="container mt-3 text-center">
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/150417073249-12-dsc-9294-1-live-video.jpg" class="rounded mx-auto">
    </div>

    
</body>