<% layout('layouts/boilerplate') %> 

<body>
  <style> 
    body {
      overflow-y: scroll;
  }
  </style>
    <h1>Contact Us</h1>
    <!-- <form action="https://formsubmit.co/ewanmaclean77@gmail.com" method="POST"">
    <div class="mt-3 mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <div class="col-md-3">
              <input type="email" class=" form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
      </div>

      <div id="contact-form" class="col-5 mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <div class="container mt-5">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form> -->

      <div class="mx-2">
        <form id="contact-form" action="https://formsubmit.co/ewanmaclean77@gmail.com" method="POST">
            
            <input id="contact" type="text" name="Name" placeholder="Your Name ">
            <input id="contact-email" type="email" name="Email" placeholder="Email Address " required>
            <h2 id="contact-message">Message</h2>
            <textarea name="Message" id="message" cols="30" rows="6"></textarea>

            <input type="hidden" name="_captcha" value="false">
            <button class="btn-primary" id="contact-button" type="submit">Send</button>
         </form>
    </div>  
</body>