<% layout('layouts/boilerplate') %> 

<body>
    <h1>Contact Us</h1>
    <div class="mt-3 mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <div class="col-md-3">
              <input type="email" class=" form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
      </div>
      <div class="col-5 mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <div class="container mt-5">
        <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
</body>