<% layout('layouts/homeBP') %> 

<body class="col">

    <div class="hero-image">
        <div id="home-label" class="container-fluid">
            <div class="container">
                <h1>Hemp Fibre Wholesale</h1>
                <h5>Growing new possibilities</h2>
            </div>
         </div>
    </div> 

    <div id="product-header" class="container-fluid">
        <div class="container">
            <h1> Join Us In Making A World Out Of Hemp</h1>
        </div>
    </div>    
<div id="carousel" class="container-fluid d-flex justify-content-center align-items-center ">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img src="https://bastcore.com/wp-content/uploads/2020/09/NDP00079.jpg" id="carousel-img"class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Hemp Bast Fibre</h5>
                    <p>Hemp is a strong natural fiber with over 50,000 industrial and commercial uses</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://i.pinimg.com/originals/64/0b/ef/640bef0227a08cabc57f761682ae799d.jpg" id="carousel-img"class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Hemp Hurd</h5>
                    <p>Hemp hurd is a superior alternative to
                        traditional wood particulate products </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://i.cbc.ca/1.5931077.1614515399!/cpImage/httpImage/image.jpg_gen/derivatives/16x9_780/que-river-rights-20210226.jpg" id="carousel-img"class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>A revolution in materials</h5>
                    <p>Farming hemp is done in a very eco friendly way since there are little to no pesticides used to farm, uses very little water to grow and is a readily renewable resource</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
</div>

<div id="home-banner" class="containter-fluid">
        <div>
            <h1>The Shift Across Industry</h1>
            <h5> The use of hemp fibers as reinforcement in composite materials has increased in recent years as a response to the increasing demand for developing biodegradable, sustainable, and recyclable materials. Hemp fibers are found in the stem of the plant which makes them strong and stiff, a primary requirement for the reinforcement of composite materials. 
            </h5>
            <a href="/aboutus">
                <button>Learn More</button>
            </a>
            
        </div>
</div>

<div id="product-header" class="container-fluid">
    <div class="container">
        <h1>Blogs & Articles</h1>
    </div>
</div>  

<div id="gallery" class="container py-5 px-0">
    <div id="blogs" class="row">
        <div class="col-auto">
            <a href="" class="custom-card">
                <div class="card" id="blog-card">
                    <img class="card-img-top blog-card-img" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1629312550/HFW/Screenshot_2021-08-18_154856_wdp87e.png">
                        <div class="card-body">
                            <h5 class="card-title">Hemp as a bast fibre</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Grower's Network</h6>
                            <p class="card-text">Bast plants can provide competitively low-cost material suitable for particleboard and Medium Density Fibreboard(MDF) applications.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto">
            <a href="https://growersnetwork.org/industry/hemp-as-a-bast-fiber/" class="custom-card">
                <div class="card" id="blog-card">
                    <img class="card-img-top blog-card-img" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1629313148/HFW/Screenshot_2021-08-18_155850_gdelbx.png">
                        <div class="card-body">
                            <h5 class="card-title">Types of Hemp Fibre</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Hemptrade.ca</h6>
                            <p class="card-text">Hemp stalks contain two main types of fibre: bast or long fibres found in the bark (skin) and hurd (shive) or short fibres located in the core of the stem.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-auto">
            <a href="https://hemptoday.net/now-is-the-time-to-get-facts-ahead-of-the-market-excitement/" class="custom-card">
                <div class="card" id="blog-card">
                    <img class="card-img-top blog-card-img" src="https://res.cloudinary.com/dhxs9jryg/image/upload/v1629313702/HFW/Screenshot_2021-08-18_160803_jsmiyn.png">
                        <div class="card-body">
                            <h5 class="card-title">‘Now is the time to get facts ahead of the market excitement’</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Hemptoday® AUGUST 12, 2021</h6>
                            <p class="card-text">Steiner has led interdisciplinary research teams with the USDA Agricultural Research Service (ARS) and at universities studying food and agriculture, natural resources, bioenergy systems, and hemp. (Q & A)</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>  



</body>