<% layout('layouts/boilerplate') %>
<head>
    <script src="store.js" async></script>
</head>
<body>

    <h1>Shop</h1>
    <div id="gallery" class="container mb-4 px-0 ">
        <div id="products" class="row">
            <%// items.inventory.forEach(function(item){ %>
            <div class="col-auto" data-item-id= "<%=// item.id %>" >
                    <div class="card" id="product-card">
                        <img class="card-img-top shop-item-image" src="https://images.squarespace-cdn.com/content/v1/582cb8819de4bb9b9e7c0bb9/1485547277733-VM1MORK7TXHHGG650101/_TJS7805.jpg?format=500w" >
                            <div class="card-body" id="shop-card-body">
                                <h5 class="card-title shop-item-title">Hemp Bast Fibre (100kg)<%= //item.name %></h5>
                                <h6 class="card-subtitle mb-2 text-muted shop-item-price">$49.99<%=// item.price / 100 %> </h6>
                                <p class="card-text shop-item-text">Hemp bast fibres are remarkably strong and lightweight. Already used for everything from clothing to automotive composites, hemp bast is an extremely versatile product.</p>
                                <button class="btn btn-success shop-item-button">Add to cart</button>
                        </div>
                    </div>
                </a>
            </div>
            <% //}) %>
            <div class="col-auto">
                    <div class="card" id="product-card">
                        <img class="card-img-top shop-item-image" src="https://images.squarespace-cdn.com/content/v1/582cb8819de4bb9b9e7c0bb9/1485547294312-E1ZU1FQ8RHL4VW3GEOWQ/_TJS7812.jpg?format=500w" >
                            <div class="card-body" id="shop-card-body">
                                <h5 class="card-title  shop-item-title">Hemp Hurd (100kg)</h5>
                                <h6 class="card-subtitle mb-2 text-muted shop-item-price">$39.99</h6>
                                <p class="card-text shop-item-text">The soft core of the hemp stalk (hurd) is light, dust-free and is highly absorbent. Hemp hurd can be used as a green building material in hempcrete, mulch, ceilings, and tiles.</p>
                                <button class="btn btn-success shop-item-button">Add to cart</button>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>


    <section class="container content-section">
        <h2 class="section-header">CART</h2>
        <div class="cart-row">
            <span class="cart-item cart-header cart-column">ITEM</span>
            <span class="cart-price cart-header cart-column">PRICE</span>
            <span class="cart-quantity cart-header cart-column">QUANTITY</span>
        </div>
        <div class="cart-items">
        </div>
        <div class="cart-total">
            <strong class="cart-total-title">Total</strong>
            <span class="cart-total-price">$0</span>
        </div>
        <a id="purchase-button"href="#html-form">
            <button class="btn btn-primary btn-purchase" type="button">NEXT</button>
        </a>        
    </section>


     <div id="html-form">
        <form id="shop-form" action="https://formsubmit.co/ewanmaclean77@gmail.com" method="POST">

            <input id="input" type="email" name="Email" placeholder="Email Address (required)" required>
            <input id="input" type="tel" name="Phone" placeholder="Phone (optional)">
            <h2>Your Order</h2>
            <textarea name="Order" id="order-list" cols="30" rows="6"></textarea>
            <h2 class="mt-3">Total</h2>
            <textarea name="Total" id="order-total" cols="3" rows="3"></textarea>
            <input type="text" name="Comments" id="comments" placeholder="Comments (optional)">

            <input type="hidden" name="_captcha" value="false">
            <button type="submit">Confirm Order</button>
         </form>
    </div>  

</body>
